body{
  background-color: #222;
}
.box{
  width: 100px;
  height: 100px;
  background-color: #fff;
  transition-property: all;
  transition-duration: 2s;
  border-radius: 5px;
}
.box:hover{
  background-color: #f00;
  border-radius: 50px;
}